body{
    margin: 0px;
}
.post-container{
    background-color: #f7b3b3;
    width: 70%;
    height: 100%;
    margin: 0px auto 0px auto;
}

.post-container .date{
    color: #008080;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

.post{
    margin-bottom: 50px;
    padding-top: 20px;
    padding-left: 50px;

}

.post-content .div.post-content{
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

Fontes utilizadas:

1. Elemento H1 = Montserrat

2. Elementos com a classe date = Roboto

3. Elementos com a classe post-content = Open Sans


Cores:

1. Background dos posts = #fffafa

2. Cor da data = #008080