#box_experiences{
    border: 1px solid;
    border-color: rgb(236, 236, 236);
    margin: 0 0 5px 0;
    box-shadow: 5px 5px 10px 1px rgb(236, 236, 236);
}

.card-content .content div{
    color:darkgray
}

.card .field{
    margin: 5px 15px 5px 15px;
}

.form_contato{
    padding: 10px 0 10px 0;
}