/* .column .is-6{
    margin-left: auto;
    margin-right: auto;
} */

#formCripto{
    margin-left: auto;
    margin-right: auto;
}

#workplaceImage{
    margin-left: auto;
    margin-right: auto;
}

#workplaceImage .img{
    margin-left: auto;
    margin-right: auto;
}

#workplaceImage .map{
    margin-left: auto;
    margin-right: auto;
}